<div class="card">
    <div class="card-header">
        Deployment Progress
    </div>
    <div class="card-block">
        <div class="progress loop"><progress></progress></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        <div class="card">
            <div class="card-header">
                State Diagram
            </div>
            <div class="card-block">
                <thor-diagram></thor-diagram>
            </div>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="card">
            <div class="card-header">
                SDDC FSM
            </div>
            <div class="card-block">
                <span class="label label-info">Total: ###</span>
                <span class="label label-success">Completed: ###</span>
                <span class="label label-warning">Canceled: ###</span>
                <span class="label label-danger">Failed: ###</span>
                <fsm-table [fsmtype]="'sddc'"></fsm-table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                FSM Context
            </div>
            <div class="card-block">
                <thor-context></thor-context>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Send Event
            </div>
            <div class="card-block">
                <thor-send-event></thor-send-event>
            </div>
        </div>
    </div>
</div>
