<h5>Current state: <span class="label label-info">{{currentState}}</span></h5>
<h5>History</h5>
<clr-stack-view>
    <clr-stack-block [clrSbExpanded]="false">
        <clr-stack-label>State History</clr-stack-label>
        <clr-stack-block *ngFor="let state of stateHistory; let i = index">
            <clr-stack-label>{{i+1}}</clr-stack-label>
            <clr-stack-content>{{state}}</clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>
    <clr-stack-block [clrSbExpanded]="false">
        <clr-stack-label>Event History</clr-stack-label>
        <clr-stack-block *ngFor="let event of eventHistory; let i = index">
            <clr-stack-label>{{i+1}}</clr-stack-label>
            <clr-stack-content>{{event}}</clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>
<h5>Raw Context</h5>
<pre>
{{ rawContext }}
</pre>
